*{
	margin: 0;
	padding: 0;
}
.wyy2_background{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 5rem;
}
.wyy2_background2{
	position: fixed;
	top: 0;
	left: 0;
	display:block;
	width: 7.2rem;
	height: 4rem;
	background: url(../img/网易云移动端图1.jpg) no-repeat;
	background-size: 7.2rem 4rem;
	z-index: -2;
}
.wyy2{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.wyy2_bottom{
	position: fixed;
	bottom: -0.2rem;
	height: 60px;
	width: 100%;
	z-index: 100;
	background-color: #fff;
	box-shadow: 0 3px 15px 3px rgba(0,0,0,.12);
}
.wyy2_bottom_fix{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60px;
	margin-left: -28px;
}
.wyy2_bottom_fix_div{
	width: 100px;
	height: 60px;
}
.wyy2_bottom_fix_a{
	display: block;
	text-decoration: none;
	color: #797979;
}
.wyy2_bottom_fix_tu{
	display: flex;
	justify-content: center;
	align-items: center;
	width: .5rem;
	border-radius: 50%;
	margin: .1rem 0 0 .95rem;
	color: #797979;
}
.wyy2_bottom_fix_tu1{
	display: flex;
	justify-content: center;
	align-items: center;
	width: .5rem;
	border-radius: 50%;
	margin: .1rem 0 0 .95rem;
	color: #ffffff;
	background-color: red;
}
.wyy2_bottom_fix_wz{
	display: flex;
	justify-content: center;
	align-items: center;
	width: .5rem;
	font-size: .2rem;
	margin-left: .95rem;
}
.wyy2_top1{
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;
	z-index: 10;
	background: url(../img/网易云移动端图1.jpg) no-repeat;
	background-size: 7.2rem 4rem;
	opacity: .9;
}
.wyy2_top1_box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
}
.wyy2_top1_box_left{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: .2rem;
	width: .6rem;
	height: .6rem;
}
.wyy2_top1_box_left div{
	color: #ffffff;
}
.wyy2_top1_box_right{
	display: block;
	width: .45rem;
	height: .45rem;
	margin-right: .2rem;
	border: 0.05rem solid #FFFFFF;
	border-radius: 50%;
	background: url(../img/背景图1.jpg) no-repeat;
	background-position: -8px -1px;
	background-size: 171%;
}
.wyy2_body{
	display: block;
	position: absolute;
	top: 1rem;
	left: 0;
	width: 7.2rem;
	height: 17rem;
}
.wyy2_body_part1{
	display: block;
	position: absolute;
	left: 0;
	width: 7.2rem;
	height: 3.1rem;
}
.wyy2_body_part1_top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 7.2rem;
	height: 1.5rem;
}
.wyy2_body_part1_left{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.2rem;
	height: 1.5rem;
}
.wyy2_body_part1_center{
	width: 4rem;
	height: 1.5rem;
}
.wyy2_body_part1_right{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 1.5rem;
}
.wyy2_body_part1_left_tu{
	display: block;
	width: .9rem;
	height: .9rem;
	border-radius: .45rem;
}
.wyy2_body_part1_left_tu img{
	display: block;
	border-radius: .45rem;
	width: .9rem;
	height: .9rem;
}
.wyy2_body_part1_center_topwz{
	display: block;
	line-height: .3rem;
	font-size: .3rem;
	width: 3rem;
	height: .4rem;
	margin-top: .4rem;
	color: #fff;
}
.wyy2_body_part1_center_buttomwz{
	display: block;
	line-height: .3rem;
	font-size: .3rem;
	width: 3rem;
	height: .4rem;
}
.wyy2_body_part1_center_buttomwz div{
	color: #ff557f;
}
.wyy2_body_part1_right_wz{
	display: block;
	width: 1.5rem;
	height: .3rem;
	line-height: .2rem;
	font-size: .2rem;
	color: #d9d9d9;
}
.wyy2_body_part1_right_wz div{
	display: inline-block;
	width: .2rem;
	height: .2rem;
	font-size: .25rem;
}
.wyy2_body_part1_buttom{
	display: block;
	width: 7.2rem;
	height: 1.2rem;
}
.wyy2_body_part1_buttom_box{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 7.2rem;
	height: 1.2rem;
}
.wyy2_body_part1_buttom_box_div{
	display: block;
	width: 1rem;
	height: .8rem;
}
.wyy2_body_part1_buttom_box_div div:first-child{
	display: block;
	width: .8rem;
	height: .4rem;
	color: #dddddd;
	padding-left: .24rem;
}
.wyy2_body_part1_buttom_box_div div:last-child{
	display: block;
	width: 1rem;
	height: .4rem;
	line-height: .34rem;
	font-size: .1rem;
	padding-top: .1rem;
	color: #dedede;
}
.wyy2_body_part2{
	display: block;
	position: absolute;
	top: 2.7rem;
	width: 7.2rem;
	height: 7.2rem;
	z-index: 1;
	background-color: #ffffff;
	border-radius: .35rem;
}
.wyy2_body_part2_top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 7.2rem;
	height: .6rem;
}
.wyy2_body_part2_top_left{
	display: block;
	width: 2rem;
	height: .4rem;
	font-size: .28rem;
	color: #393939;
	margin: .2rem 0 0 .2rem;
}
.wyy2_body_part2_top div:last-child{
	display: block;
	margin-top: .2rem;
	font-size: .5rem;
	color: #797979;
}
.wyy2_body_part2_body1{
	display: block;
	position: absolute;
	top: .8rem;
	width: 7.2rem;
	height: 3.5rem;
	overflow: auto;
}
.wyy2_body_part2_body1_box{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 12rem;
	height: 3.5rem;
}
.wyy2_body_part2_body1_box_div1{
	display: block;
	width: 2rem;
	height: 3.1rem;
	border-radius: .2rem;
	background: url(../img/小熊3.jpg) no-repeat;
	background-size: 100% 100%;
	opacity: .8;
}
.wyy2_body_part2_body1_box_div2{
	display: block;
	width: 2rem;
	height: 3.1rem;
	border-radius: .2rem;
	background: url(../img/小熊4.jpg) no-repeat;
	background-size: 100% 100%;
	opacity: .8;
}
.wyy2_body_part2_body1_box_div{
	display: block;
	width: 2rem;
	height: 3.1rem;
	border-radius: .2rem;
	background-color: #d0d0d0;
}
.wyy2_body_part2_body1_box_top{
	display: flex;
	justify-content: center;
	align-items: center;
	height: .5rem;
	width: 2rem;
	border-radius: .3rem;
	font-size: .25rem;
	color: #747474;
}
.wyy2_body_part2_body1_box_center{
	display: block;
	width: 2rem;
	height: 1.8rem;
}
.wyy2_body_part2_body1_box_center_tb div:first-child{
	display: block;
	font-size: .65rem;
	color: red;
}
.wyy2_body_part2_body1_box_center_tb{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 1rem;
}
.wyy2_body_part2_body1_box_center_wz{
	display: flex;
	justify-content: center;
	width: 2rem;
	height: .4rem;
	font-size: .25rem;
	color: #f0f0f0;
	margin-top: -0.18rem;
}
.wyy2_body_part2_body1_box_buttom{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: .8rem;
	border-radius: .3rem;
}
.wyy2_body_part2_body1_box_buttom_box{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.6rem;
	height: .5rem;
	border-radius: .3rem;
	font-size: .2rem;
	color: #fff;
	background-color: #747474;
}
.wyy2_body_part2_body1_box_buttom_box div:first-child{
	font-size: .2rem;
}
.wyy2_body_part2_top2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 4.3rem;
	width: 7.2rem;
	height: .6rem;
	color: #767676;
}
.wyy2_body_part2_body2{
	display: block;
	position: absolute;
	top: 5rem;
	width: 7.2rem;
	height: 1.4rem;
	overflow: auto;
}
.wyy2_body_part2_body2_box{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 15.5rem;
	height: 1.4rem;
}
.wyy2_body_part2_body2_div{
	display: inline-block;
	width: 3.5rem;
	height: 1.4rem;
	border-radius: .2rem;
}

.wyy2_body_part2_body2_tu{
	display: inline-block;
	position: relative;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .2rem;
	background: url(../img/歌单图标2.jpg) no-repeat;
	background-size: 100% 100%;
}
.wyy2_body_part2_body2_tu1{
	display: inline-block;
	position: relative;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .2rem;
	background: url(../img/歌单图标3.jpg) no-repeat;
	background-size: 100% 100%;
}
.wyy2_body_part2_body2_tu2{
	display: inline-block;
	position: relative;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .2rem;
	background: url(../img/歌单图标11.jpg) no-repeat;
	background-size: 100% 100%;
}
.wyy2_body_part2_body2_tu3{
	display: inline-block;
	position: relative;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .2rem;
	background: url(../img/歌单图标12.jpg) no-repeat;
	background-size: 100% 100%;
}
.wyy2_body_part2_body2_tu_div{
	display: inline-block;
	position: absolute;
	top: .3rem;
	left: .3rem;
	width: .6rem;
	height: .6rem;
	border-radius: .5rem;
	background-color: #ffffff;
	opacity: .6;
}
.wyy2_body_part2_body2_tu_div div:first-child{
	color: red;
	font-size: .5rem;
	padding-left: 0.08rem;
	padding-top: 0.02rem;
}
.wyy2_body_part2_body2_wz1{
	display: inline-block;
	position: absolute;
	width: 2rem;
	height: 1.2rem;
	padding-left: .1rem;
}
.wyy2_body_part2_body2_wz2{
	display: block;
	width: 2.2rem;
	height: .3.5rem;
	line-height: .35rem;
	font-size: .3rem;
	padding-top: .12rem;
}
.wyy2_body_part2_body2_wz3{
	display: block;
	width: 2rem;
	height: .5rem;
	padding-top: .1rem;
	line-height: .3rem;
	font-size: .25rem;
	color: #8a8a8a;
}
.wyy2_body_part2_top3{
	display: block;
	position: absolute;
	top: 6.4rem;
	width: 7.2rem;
	height: 6.8rem;
	background-color: #fff;
	overflow: auto;
}
.wyy2_body_part2_top3_top{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	width: 7.2rem;
	height: 0.8rem;
}
.wyy2_body_part2_top3_box{
	display: inline-block;
	width: 1.8rem;
	height: 0.5rem;
	color: #747474;
	font-size: .3rem;
}
.wyy2_body_part2_top3_box1{
	display: inline-block;
	width: 1.8rem;
	height: 0.5rem;
	color: #060606;
	font-size: .3rem;
}
.wyy2_body_part2_top3_box4{
	display: block;
	padding-left: .2rem;
	color: #747474;
}
.wyy2_body_part2_top4{
	display: block;
	width: 7.2rem;
	height: 6rem;
	position: absolute;
	top: 7.3rem;
	background-color: #fff;
	overflow: auto;
}
.wyy2_body_part2_top4_body{
	display: block;
	width: 7.2rem;
	height: 10rem;
}
.wyy2_body_part2_top4_body_top{
	display: flex;
	align-items: center;
	width: 7.2rem;
	height: .8rem;
	font-size: 0.3rem;
	padding-left: 0.2rem;
}
.wyy2_body_part2_top4_body_box1{
	display: flex;
	align-items: center;
	width: 7.2rem;
	height: 1.4rem;
	padding-left: .1rem;
}
.wyy2_body_part2_top4_body_box1_tu{
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .2rem;
	background: url(../img/歌单24.jpg) no-repeat;
	background-size: 100% 100%;
}
.wyy2_body_part2_top4_body_box1_tu1{
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .2rem;
	background: url(../img/歌单15.jpg) no-repeat;
	background-size: 100% 100%;
}
.wyy2_body_part2_top4_body_box1_tu2{
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .2rem;
	background: url(../img/歌单16.jpg) no-repeat;
	background-size: 100% 100%;
}
.wyy2_body_part2_top4_body_box1_tu3{
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .2rem;
	background: url(../img/歌单17.jpg) no-repeat;
	background-size: 100% 100%;
}
.wyy2_body_part2_top4_body_box1_tu4{
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .2rem;
	background: url(../img/歌单18.jpg) no-repeat;
	background-size: 100% 100%;
}
.wyy2_body_part2_top4_body_box1_tu5{
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .2rem;
	background: url(../img/歌单26.jpg) no-repeat;
	background-size: 100% 100%;
}
.wyy2_body_part2_top4_body_box1_tu6{
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .2rem;
	background: url(../img/歌单19.jpg) no-repeat;
	background-size: 100% 100%;
}
.wyy2_body_part2_top4_body_box1_tu7{
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .2rem;
	background: url(../img/歌单20.jpg) no-repeat;
	background-size: 100% 100%;
}
.wyy2_body_part2_top4_body_box1_tu8{
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .2rem;
	background: url(../img/歌单21.jpg) no-repeat;
	background-size: 100% 100%;
}
.wyy2_body_part2_top4_body_box1_tu9{
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .2rem;
	background: url(../img/歌单22.jpg) no-repeat;
	background-size: 100% 100%;
}
.wyy2_body_part2_top4_body_box1_tu10{
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .2rem;
	background: url(../img/歌单23.jpg) no-repeat;
	background-size: 100% 100%;
}
.wyy2_body_part2_top4_body_box1_wz{
	display: inline-block;
	width: 2.3rem;
	height: 1.2rem;
}
.wyy2_body_part2_top4_body_box1_wz1{
	display: block;
	width: 2.3rem;
	height: .8rem;
	line-height: .4rem;
	font-size: .28rem;
}
.wyy2_body_part2_top4_body_box1_wz2{
	display: block;
	width: 2.3rem;
	height: .4rem;
	font-size: .3rem;
	padding-left: .2rem;
	color: #747474;
}
.wyy2_body_part2_top4_body_box1_wz2 div:first-child{
	display: inline-block;
	font-size: .3rem
}
.wyy2_body_part2_top4_body_top2{
	display: flex;
	align-items: center;
	width: 7.2rem;
	height: .8rem;
	font-size: 0.3rem;
	padding-left: 0.2rem;
}