*{
	margin: 0;
	padding: 0;
	
}
a{
	text-decoration: none;
}
.header_id{
	width: 100%;
	height: 5rem;
	display: flex;
	justify-content: space-between;
	background: url(../img/歌单17.jpg);
	background-size: 100%;
	position: fixed;
	/* z-index: 999; */
}
.header_id_saoyisao{
	width: 10%;
	height: 1rem;
	display: flex;
}
.header_id_saoyisao i{
	font-size: 0.6rem;
	margin:0.1rem auto;
}
.header_id_music{
	width: 10%;
	height: 1rem;
	display: flex;
}
.header_id_music_pic{
	width: 0.6rem;
	height: 0.6rem;
	margin: 0.2rem auto;
	border-radius: 50%;
	background: url(../img/歌单15.jpg);
	background-size: 100%;
}
.id_header_main{
	width: 7.2rem;
	height: 7rem;
	/* background-color: burlywood; */
	position: relative;
}
.id_header_main_text{
	width: 7.2rem;
	height: 3rem;
	background-color: white;
	position: absolute;
	bottom: 0;
	border-radius: .4rem .4rem 0 0;
	
	
}
.id_header_main_text_top{
	width: 7.2rem;
	height: 1.5rem;
	
	display: flex;
}
.id_header_main_text1{
	width: 7.2rem;
	height: 1.25rem;
	
	font-size: 0.5rem;
	display: flex;
}
.header_id_touxiang{
	width: 1rem;
	height: 1rem;
	margin-top: 0.3rem;
	margin-left: 0.3rem;
	border-radius: 50%;
	background: url(../img/歌单22.jpg);
	background-size: 100%;
}
.id_header_main_text1 span{
	margin: 0.6rem 0.3rem;
}
.id_header_main_text2{
	width: 1.5rem;
	height: 0.5rem;
	border-radius: 0.3rem;
	background-color: red;
	font-size: 0.3rem;
	margin: 0.5rem 0.3rem;
}
.id_header_main_text2 span{
	color: white;
	margin: 0.1rem 0.2rem;
}

.id_header_main_menu{
	width: 7.2rem;
	height:1.5rem;
	
	display: flex;
	
}
.id_header_main_menu_nav{
	width: 25%;
	height: 1.5rem;
	display: flex;
}
.id_header_main_menu_nav i{
	font-size: 0.3rem;
	    margin: 0.4rem 0.5rem;
	    color: red;
}
.id_header_main_menu_nav span{
	font-size: 0.2rem;
	margin: 1rem -1.1rem;
}
.id_line1{
	width: 7.2rem;
	height: 0.1rem;
	background-color:#F5F5F5;
}
.id_text{
	width: 7.2rem;
	height: 0.8rem;
	background-color:white;
	display: flex;
	position: relative;
}
.id_text i{
	margin-left: 0.3rem;
	font-size: 0.3rem;
	line-height: 0.8rem;
}
.id_text span{
	margin-left: 0.4rem;
	font-size: 0.3rem;
	line-height: 0.8rem;
}
#youji{
	color: darkgrey;
	float: right;
	position: absolute;
	right: 0.1rem;
	font-size: 0.3rem;
}
.id_text_title{
	width: 7.2rem;
	height: 0.5rem;
	display: flex;
	border: 1px solid #F5F5F5;
}
.id_text_title span{
	margin: 0.12rem 0.2rem;
	font-size: 0.2rem;
	
}
.id_text_menu{
	width: 7.2rem;
	
	background-color:white;
}
.id_text_menu li{
	width:7.2rem;
	height: 0.8rem;
	border: 1px solid #F5F5F5;
	display: flex;
	position: relative;
}
.id_text_menu>ul>li>span{
	margin:0.2rem 0.2rem ;
	font-size: 0.3rem;
	
}
.id_text_menu i{
	margin:0.2rem 0.2rem ;
	font-size: 0.4rem;
	
}
#iconfont_box1{
	margin:0.25rem 0.25rem ;
	font-size: 0.3rem;
}
#iconfont_box2{
	margin:0.25rem 0.20rem ;
	font-size: 0.3rem;
}
.id_text_tuichu{
	font-size: 0.3rem;
	color: #FF0000;
	margin: 0.1rem 3rem;
}
.yejian{
	position: relative;
}
.yejian_checke{
	position: absolute;
	float: right;
	right: 0.2rem;
	width: 1rem;
	height: 0.8rem;
	margin: 0.2rem ;
}
 .checke{
	position: relative;
	-webkit-appearance: none;
	width:1rem;
	height: 0.5rem;
	line-height:0.5rem;
	background: #eee;
	border-radius: 0.4rem;
	outline: none;
	float: right;
	right: 0;
}
.checke:before{
	position: absolute;
	left: 0;
	content: '';
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background: #eee;
	box-shadow: 0px 0px 5px #ddd;
	transition: all 0.2s linear;
}
 
.checke:checked{
   background: red;
}
.checke:checked:before{
	left: 0.5rem;
	transition: all 0.2s linear;
}
#youji span{
	font-size: 0.25rem;
	margin:0.8rem;	
}
        .dibu{
	width: 100%;
	height: 60px;
	background-color: #F5F5F5;
}
.iconfont{
	font-size: .4rem !important;
}
.wyy_bottom{
	position: fixed;
	bottom: -0.2rem;
	height: 60px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 3px 15px 3px rgba(0,0,0,.12);
}
.wyy_bottom_fix{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60px;
	margin-left: -28px;
}
.wyy_bottom_fix_div{
	width: 100px;
	height: 60px;
}
.wyy_bottom_fix_tu{
	display: flex;
	justify-content: center;
	align-items: center;
	width: .5rem;
	border-radius: .4rem;
	margin: .1rem 0 0 .95rem;
	color: #797979;
}
.wyy_bottom_fix_wz{
	display: flex;
	justify-content: center;
	align-items: center;
	width: .5rem;
	font-size: .2rem;
	margin-left: .95rem;
	text-decoration: none;
	color: #797979;
}
.wyy_bottom_fix_tu1{
	display: flex;
	justify-content: center;
	align-items: center;
	width: .5rem;
	border-radius: .4rem;
	margin: .1rem 0 0 .95rem;
	color: #ffffff;
	background-color: red;
}
.wyy_bottom_fix_wz1{
	display: flex;
	justify-content: center;
	align-items: center;
	width: .5rem;
	font-size: .2rem;
	margin-left: .95rem;
	text-decoration: none;
	color: red;
}
